body
{
	background-image: url("main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	height: 100%;
}

.cover 
{
	margin:13em auto 12em;
	width:100%;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 25px;
}
