body
{
	background-image: url("pictures/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	height: 100%;
}

.cover 
{
	margin:13em auto 12em;
	width:100%;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 26px;
}

.btn-primary-spacing 
{
margin-right: 5px;
margin-bottom: 5px !important;
}